@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic);

/**
 * Base Elements
 */

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  background: #f3f3f3;
}

a {
  color: #016aba;
  text-decoration: none;
}

.flex {
  display: flex;

  &-inline {
    display: inline-flex;
  }
}

.flex--vertical {
  flex-direction: column;
}

.grow {
  flex-grow: 1;
  overflow: hidden;
}

.shrink {
  flex-shrink: 1;
  overflow: hidden;
}

.point {
  cursor: pointer;
}

.plus {
  font-size: 20px;
  @extend .point;
}

@import "./stylers";
@import "./elements";
@import "./code";

.header {
  align-items: center;
  padding-left: 10px;
  height: 50px;
  background: black;
  color: white;
}

.main {
  padding: 10px;
}

// Common
.ember-checkbox {
  height: 25px;
  margin-right: 6px;
}

select {
  margin-top: 5px;
}