.elements {
    flex-grow: 3;
    @extend .shrink;
    height: 100vh;
    border: 1px solid black;
    border-left: none;

    .layout {
        &_150 {
            height: 150px;
            justify-content: space-between; 
        }
    }
}